body {
    display: flex;
    flex-flow: column;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100vb;
}

.content {
    margin-top: 30px;
    min-height: 200px;
    min-width: 60px;
}
button {
    padding: 40px 55px;
    border-radius: 25px;
    border: 2px solid black;
}

#rock {
    background-color: lightcoral;
}

#paper {
    background-color: lightblue;
}

#scissors {
    background-color: lightseagreen;
}
